{% extends "layout.html" %}

{% block content %}
<ul>
    {% for professor in professors: %}
    <p>{{ professor.first_name }}</p>
    <p>{{ professor.last_name }}</p>
    <p>{{ professor.city }}</p>
    <p>{{ professor.address }}</p>
    <p>{{ professor.salary }}</p>
    <a href="{{ url_for('view_update_professor', id=professor.id)}}">Modificar</a>
    <button onclick="delete_professor({{ professor.id }})">Eliminar</button>
    {% endfor %}

</ul>

<a href="{{url_for('view_create_professor')}}">
    <button>Registrar nuevo profesor</button>
</a>

<script src="{{url_for('static', filename='delete_professor.js')}}"></script>
{% endblock %}